.credit-calc-wrapper {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}
.content {
  width: 700px;
  height: 700px;
  background-color: #fff;
  padding: 20px;
  position: relative;
}
.close-cross {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 36px;
}
.credit-setting {
  display: flex;
  justify-content: space-between;
}
.slider-wrapper {
  display: flex;
  flex-direction: column;
}
.top-bar {
  display: flex;
  justify-content: space-between;
}
