.car-card {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 10px;
  border: 1px solid black;
  margin: 10px;
}
.car-image {
  max-width: 300px;
}
